body{
  background-color: #000000;
}
#Blanca{
  position: relative;
  left: 30%;
  height: 300px;
  width: 22%;
}
hr{
  border: 4px solid purple;
  left: 0%;
  position: absolute;
  width:  100px;
}
h2{
  color: #f7ef24;
}
section{

  width: 80%;
  margin: 5% 10%;
}
div.retrato img{
  height: 350px;
  width: 130%;
  border-style: groove;
  border-color: #d6e626;
}
.retrato{

  display: inline-block;
  height: 300px;
  margin-left: 10%;
  width: 230px;
}
p{
 position: relative;
 bottom:  15%;
 font-family: 'Alegreya Sans SC', sans-serif;
 font-size: 30px;
 color: #911b82;
 background-color: #000000;
display: inline;



}
